@import 'tailwindcss';

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  @keyframes slide {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(4rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  --animate-slide: slide 750ms ease-in-out;
  --animate-appear: appear 750ms ease-in-out;
}

@layer base {
  svg {
    flex-shrink: 0;
  }
  a,
  button {
    cursor: pointer;
  }
}

@layer components {
  /* here defined classes */
  .spacer-1 {
    @apply row-start-1 col-start-2 row-span-3 border-x border-x-(--pattern-fg) bg-[repeating-linear-gradient(315deg,var(--pattern-fg)_0,var(--pattern-fg)_1px,transparent_0,transparent_50%)] bg-size-[10px_10px] bg-fixed [--pattern-fg:var(--color-gray-950)]/5 max-lg:hidden;
  }
  .spacer-2 {
    @apply row-start-1 col-start-4 row-span-3 border-x border-x-(--pattern-fg) bg-[repeating-linear-gradient(315deg,var(--pattern-fg)_0,var(--pattern-fg)_1px,transparent_0,transparent_50%)] bg-size-[10px_10px] bg-fixed [--pattern-fg:var(--color-gray-950)]/5 max-lg:hidden;
  }
  .spacer-horizontal {
    @apply col-span-full col-start-2 row-start-2 h-px bg-gray-950/5;
  }
}

@utility clip-image {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  &:hover {
    clip-path: none;
  }
}
